---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Justify post text */
.page-content p,
.page-content li,
.site-footer p {
  text-align: justify;
  hyphens: auto;
}

/* Don't justify code */
.page-content code,
.page-content pre {
  text-align: left;
}
